<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "row">
      <div class ="col-3">
        <div class="circle">    
          <br />
            Guitar
          <br />
            Nuggets:
          <br />
            Greatest Picks
        </div>
      </div>
      <div class="col-4 slogan">
        The sage guitarist wisdom that you weren't quite expecting
      </div>
      <div class="col-5 links">
        <%= link_to 'Contribute', '#' %>
        <%= link_to 'About', '#' %>        
      </div>
    </header>

    <hr />

    <br class = "clear" />

    <%= yield %>

  </body>
</html>
